*
{
   margin:0px;
}


body

{
    background-color: black;
}
#id1
{
    background-color: aqua;   
}

#id2
{
    background-color: rgb(0, 128, 117);
}


/* h1
{
    color: red;
} */
/* #para
{
    color:rgb(127, 234, 255);
}
.head
{
    color: red;
}
.ancr
{
    color:pink;
} */




/* 




*/
















